<header>
  <div class="header-wrapper">
    <span class="header-text">Задачи</span>
    <button (click)="openDialog()" mat-icon-button>
      <mat-icon class="header-icon">add</mat-icon>
    </button>
  </div>
  <mat-grid-list
    class="grid-tile"
    [cols]="breakpoint"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile rowHeight="4rem" *ngFor="let project of projects">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngFor="let todo of project.todos">
            <mat-checkbox
              [ngClass]="{
                card_checkbox: true,
                card_checkbox_completed: todo.isCompleted
              }"
              [checked]="todo.isCompleted"
              (change)="updateTodo(project, todo)"
            >
              <del *ngIf="todo.isCompleted">{{ todo.text }}</del>
              <span *ngIf="!todo.isCompleted">{{ todo.text }}</span>
            </mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</header>
